@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-gray-800 bg-textPrimary dark:text-textPrimary text-gray-900;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

.animate-slide {
  animation: slide 35s linear infinite alternate;
}

.animate-slide:hover {
  animation-play-state: paused;
}
